<!DOCTYPE html>
<html lang="en">

<head>
 {{>headerlinks}}

    <title>Document</title>
</head>

<body>
  {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right ">
                        <figure>
                            <img src="./images/about.jpg" alt="about" class="img-fluid" title="about image">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left ">
                            <p>
                                OurWeather is developed and maintained by a dedicated team of meteorologists, software
                                engineers, and designers who are
                                passionate about delivering the best possible weather experience to our users.
                            </p>
                        <h1>"Empower with precise <span class="text_color">weather </span>insights for informed decisions."</h1>
                        <p>At OurWeather, our mission is to empower individuals and communities with the knowledge they
                            need to make informed
                            decisions about their daily activities based on weather conditions. </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- footer -->
{{>footer}}
</body>

</html>